doctype html
html(ng-app='quotesApp')
  head
    title Yea!
    link(href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css", rel="stylesheet")
    link(href='assets/css/main.min.css', rel='stylesheet')
    meta(name='viewport', content='width=device-width, initial-scale=1')
  body(ng-controller='HelloCtrl')
    header.title
      h1 QUOTES
      h2 {{test}}
    a#nav-link(href='#')
      i.fa.fa-bars.fa-3x
    nav
      ul
        li
          a(href='#', style='background: #8f5172' )
        li
          a(href='#', style='background: #6c7a6b' )
        li
          a(href='#', style='background: #d4b055' )
        li
          a(href='#', style='background: #4a4452' )
        li
          a(href='#', style='background: #3E5D9F' )
    section.quote
      blockquote 
        i.fa.fa-quote-left 
        | &nbsp;
        span.content Content precedes design. Design in the absence of content is not design, it's decoration.
        | &nbsp;
        i.fa.fa-quote-right
      blockquote.author Jeffrey Zeldman
  script(src='assets/js/app.js')
