@import url(http://fonts.googleapis.com/css?family=Lato:300,700);
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

body {
  margin: 0;
  font-size: 16px; }

h1, h2, h3, h4, p, blockquote, figure, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: 300; }

li {
  display: block; }

h1, h2, h3, h4 {
  font-size: inherit; }

a {
  text-decoration: none;
  color: inherit;
  -webkit-transition: 0.3s;
  transition: 0.3s; }

img {
  max-width: 100%;
  height: auto;
  border: 0; }

html, body {
  height: 100%; }

h1 {
  font-family: 'Lato', sans-serif;
  font-size: 3em; }

header.title {
  text-align: center;
  padding-top: 4em;
  color: #FFFFFF;
  text-shadow: none; }

body {
  background: #CB6451;
  -webkit-transition: background 0.16s ease-in-out;
          transition: background 0.16s ease-in-out;
  position: relative;
  overflow: hidden; }

#nav-link {
  height: 48px;
  display: block;
  text-decoration: none;
  color: white;
  position: absolute;
  top: 4em;
  right: -12px;
  text-shadow: none;
  opacity: 0.65;
  -webkit-transition: all 0.2s ease-in-out;
          transition: all 0.2s ease-in-out; }
  #nav-link:hover {
    right: -2px;
    opacity: 1; }
  #nav-link.active {
    right: 1em; }

ul {
  list-style: none;
  position: absolute;
  right: -96px;
  top: 8em;
  -webkit-transition: right 0.3s ease-in-out;
          transition: right 0.3s ease-in-out; }
  ul.active {
    right: -48px; }
  ul li {
    margin-bottom: 10px; }
  ul a {
    display: block;
    height: 48px;
    width: 96px;
    border-radius: 24px;
    box-shadow: none;
    -webkit-transition: box-shadow 0.16s ease-in-out;
            transition: box-shadow 0.16s ease-in-out; }
    ul a:hover, ul a:active {
      -webkit-animation: shadowHover 1s;
              animation: shadowHover 1s; }

blockquote {
  width: 60%;
  margin: 0 auto;
  color: white;
  font-family: 'Lato';
  margin-top: 1.6em;
  font-size: 2em;
  font-weight: 700; }
  blockquote.author {
    margin-top: 1em;
    font-size: 1.5em;
    font-style: italic;
    font-weight: 300; }
  @media (min-width: 700px) {
    blockquote {
      font-size: 2.8em;
      width: 68%; }
      blockquote.author {
        font-size: 2.1em; } }

@-webkit-keyframes shadowHover {
  0% {
    box-shadow: none; }

  20% {
    box-shadow: 0 0 0px 8px rgba(255, 255, 255, 0.5); }

  100% {
    box-shadow: 0 0 0px 8px rgba(255, 255, 255, 0); } }

@keyframes shadowHover {
  0% {
    box-shadow: none; }

  20% {
    box-shadow: 0 0 0px 8px rgba(255, 255, 255, 0.5); }

  100% {
    box-shadow: 0 0 0px 8px rgba(255, 255, 255, 0); } }
